<form method="post" action="{{ path('app_module_delete', {'id': module.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce module?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ module.id) }}">
    <button class="btn">Delete</button>
</form>
