{% extends 'base.html.twig' %}

{% block title %}New Module{% endblock %}

{% block body %}
    

    {{ include('module/_form.html.twig') }}

    <a href="{{ path('app_module_index') }}">back to list</a>
{% endblock %}
