{# templates/reset/reset_password.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reset Your Password</h1>

    {# Password reset form #}
    <form method="post" action="{{ path('app_update_password') }}">
        {# Hidden input to pass the email #}
        <input type="hidden" name="email" value="{{ email }}">

        {# New Password Field #}
        <div>
            <label for="password">New Password</label>
            <input 
                type="password" 
                id="password" 
                name="password" 
                required
                minlength="8" {# Enforce minimum password length #}
                placeholder="Enter your new password"
            >
        </div>

        {# Confirm New Password Field #}
        <div>
            <label for="confirm_password">Confirm New Password</label>
            <input 
                type="password" 
                id="confirm_password" 
                name="confirm_password" 
                required
                minlength="8" {# Enforce minimum password length #}
                placeholder="Confirm your new password"
            >
        </div>

        {# Submit Button #}
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
{% endblock %}